[user]
    email = ignacy@pekala.eu
    name = Ignacy Pękała
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[init]
    defaultBranch = main
[core]
    editor = nvim
[alias]
    st = status
    sts = status -s
    cm = commit
    cma = commit -a
    cmv = commit -v
    cmav = commit -av
