[user]
    email = ignacy@pekala.eu
    name = Ignacy Pękała
[credential "https://github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = 
    helper = !/usr/bin/gh auth git-credential
[init]
    defaultBranch = main
[core]
    editor = nvim
[difftool "nvim_difftool"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = nvim_difftool
[alias]
    st = status
    sts = status -s
    cm = commit
    cmv = commit -v
    cma = commit -a
    cmav = commit -av
    a = add
    aa = add .
