set keymap vi
set keyseq-timeout 50
set bell-style none

# 1 = blinking block, 2 = solid block, 5 = blinking bar, 6 = solid bar
set show-mode-in-prompt On
set vi-ins-mode-string "\1\e[6 q\2"
set vi-cmd-mode-string "\1\e[2 q\2"

set keymap vi-insert
"\t": menu-complete
"\e[Z": menu-complete-backward
"\C-p": history-search-backward
"\C-n": history-search-forward
"\C-l": clear-screen

set keymap vi-command
"\C-l": clear-screen

