hl.config({
    general = {
        gaps_in = 5,
        gaps_out = 20,
        border_size = 2,
        col = {
            active_border = {
                colors = {
                    "{{ hexa(base_green, bb) }}",
                },
            },
            inactive_border = "{{ hex(neutral_800) }}",
        },
    },

    decoration = {
        rounding = 10,
        rounding_power = 2,

        active_opacity  = 1.0,
        inactive_opacity = 0.95,
        blur = {
            enabled  = true,
        },

        dim_inactive = true,
        dim_strength = 0.05,

        shadow = {
            enabled = true,
            range = 10,
            render_power = 3,
            color = "{{ hexa(neutral_800, ee) }}"
        },
    },
})

-- vim:filetype=lua
