hl.config({
    general = {
        gaps_in = 5,
        gaps_out = 15,
        border_size = 1,
        col = {
            active_border = {
                colors = {
                    "{{ hexa(base_green, bb) }}",
                },
            },
            inactive_border = "{{ hex(neutral_700) }}",
        },
    },

    decoration = {
        rounding = 10,
        rounding_power = 5,

        active_opacity  = 1.0,
        inactive_opacity = 0.95,
        blur = {
            enabled  = true,
        },

        dim_inactive = true,
        dim_strength = 0.05,
    },
})

-- vim:filetype=lua
