{
  "dark": {
    "name": "My Theme Dark",
    "primary": "{{ HEX(ui_accent_primary) }}",
    "primaryText": "{{ HEX(neutral_700) }}",
    "primaryContainer": "{{ HEX(neutral_400) }}",
    "secondary": "{{ HEX(ui_accent_secondary) }}",
    "surface": "{{ HEX(neutral_300) }}",
    "surfaceText": "{{ HEX(ui_fg) }}",
    "surfaceVariant": "{{ HEX(neutral_400) }}",
    "surfaceVariantText": "{{ HEX(ui_fg)}}",
    "surfaceTint": "{{ HEX(neutral_600) }}",
    "background": "{{ HEX(neutral_900) }}",
    "backgroundText": "{{ HEX(ui_fg) }}",
    "outline": "{{ HEX(ui_bg_active) }}",
    "surfaceContainer": "{{ HEX(neutral_800) }}",
    "surfaceContainerHigh": "{{ HEX(neutral_700) }}",
    "surfaceContainerHighest": "{{ HEX(neutral_600) }}",
    "error": "{{ HEX(state_error) }}",
    "warning": "{{ HEX(state_warning) }}",
    "info": "{{ HEX(state_info) }}",
    "matugen_type": "scheme-expressive"
  },
  "light": {
    "name": "My Theme Light",
    "primary": "{{ HEX(ui_accent_primary) }}",
    "primaryText": "{{ HEX(neutral_800) }}",
    "primaryContainer": "{{ HEX(neutral_200) }}",
    "secondary": "{{ HEX(ui_accent_secondary) }}",
    "surface": "{{ HEX(neutral_100) }}",
    "surfaceText": "{{ HEX(neutral_800) }}",
    "surfaceVariant": "{{ HEX(neutral_400) }}",
    "surfaceVariantText": "{{ HEX(neutral_800)}}",
    "surfaceTint": "{{ HEX(neutral_500) }}",
    "background": "{{ HEX(neutral_100) }}",
    "backgroundText": "{{ HEX(neutral_800) }}",
    "outline": "{{ HEX(ui_bg_active) }}",
    "surfaceContainer": "{{ HEX(neutral_100) }}",
    "surfaceContainerHigh": "{{ HEX(neutral_200) }}",
    "surfaceContainerHighest": "{{ HEX(neutral_300) }}",
    "error": "{{ HEX(state_error) }}",
    "warning": "{{ HEX(state_warning) }}",
    "info": "{{ HEX(state_info) }}",
    "matugen_type": "scheme-expressive"
  }
}
